@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("@/assets/styles/customMessage.css");
@import url("@/assets/styles/clickModule.css");


:root {
  --background-animation: background-color 0.15s ease-in;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 36px;
  text-align: center;
  color: #a82c38;
  font-family: "Permanent Marker", cursive;
  height: 100vh;
  width: 100%;
  padding: 2rem;
}

img {
  max-width: 100%;
  pointer-events: none;
}

.menu {
  position: fixed;
  z-index: 1000;
  text-align: l;
  text-align: left;
  pointer-events: none;
  width: 150px;
  border-radius: 5px;
  list-style: none;
  cursor: url("@/assets/Katana.cur"), auto;
}

.menu.open {
  pointer-events: visible;
  transform: rotateY(0deg) rotateX(0);
  -webkit-transform: rotateY(0deg) rotateX(0);
}

li.menu-item {
  padding: 8px 10px;
  margin-bottom: 2px;
  font-size: 1rem;
  background-color: #58544b;
  box-shadow: 0 2px 10px 2px #f04b4b25;
  color: #eee;
  border-radius: inherit;
  transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  transform: rotateY(90deg) rotateX(45deg);
  -webkit-transform: rotateY(90deg) rotateX(45deg);
}

li.menu-item:nth-child(1) {
  transition: transform 0s cubic-bezier(0.445, 0.05, 0.55, 0.95),
    var(--background-animation);
}

li.menu-item:nth-child(2) {
  transition: transform 0.1s cubic-bezier(0.445, 0.05, 0.55, 0.95),
    var(--background-animation);
}

li.menu-item:nth-child(3) {
  transition: transform 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95),
    var(--background-animation);
}

li.menu-item:nth-child(4) {
  transition: transform 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95),
    var(--background-animation);
}
li.menu-item:nth-child(5) {
  transition: transform 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95),
    var(--background-animation);
}

li.menu-item:hover {
  background-color: rgb(243, 125, 82);
  color: #fff;
}
